body{
    background-color: #F8F9D7;
    text-align: center;
    font-size: 350%;
}

.btns{
    padding: 3%;
    font-size: 350%;
}
.H1{
    font-family: 'Gulzar', serif; 
    margin: 5%;
    font-weight: bolder;
    
}
.img3{
    width: 20%;
}
.btn{
    font-size: 350%;
   padding: 3%;
}
.H2{
    margin: 5%;
    font-family: 'Gulzar', serif; 
    color: #51557E;
    font-size: 350%;
}
